<%- include header %>

    <div class="container">
      <legend><%= row.bookname %></legend>
      <p>
        <span><b>价格：</b></span> <%= row.price %>
      </p>
      <p>
        <span><b>详情：</b></span>
      </p>
      <p>
        <%= row.bookinfo %>
      </p>
    </div>

<%- include footer %>


